.skills-2 {
  margin: 0.5em;
  font-family: josefinSans;

  .card {
    margin-bottom: 1em;
    border: 1px solid $button-color;
    border-radius: 5px;
    padding: 0.5em;

    .ruler {
      width: 100%;
      border: 2px solid $button-color;
      margin-top: 0.2em;
      margin-bottom: 0.5em;
    }

    h3 {
      font-size: 1.3rem;
    }

    ul {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    li {
      font-size: 1.2rem;
      word-wrap: break-word;
      flex: 30%;
      padding: 4px;
      text-align: center;
    }
  }
}
